* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #150D15;
  overflow: hidden;
}

h1 {
  font-size: 10em;
  width: auto;
}

#content {
  text-align: center;
  height: 100vh;
}

/* Home */

#homeContainer {
  display: block;
}

#bannerHeader {
  position: absolute;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray;
  left: 0;
  right: 0;
  top: 20vh;
  text-align: center;
}


#tabsContainer {
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: absolute;
  bottom: 0vh;
}

#titleContainer {
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: absolute;
  bottom: 5vh;
}

.home {
  background-color: #f59b42;
}

.about {
  background-color: #f57e42;
}

.menu {
  background-color: #f56642;
}

.contact {
  background-color:  #f54b42;
}

.tab {
  width: 25vw;
  height: 50px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.banner {
  max-height: 95vh;
  height: 95vh;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabTitle {
  opacity: 0;
}

/* About */

#aboutContainer {
  display: block;
}

/* Responsive View */

@media (max-width: 800px) {
  #bannerHeader {
    width: 678px;
    top: 7vh;
  }
}

@media (max-width: 678px) {
  #bannerHeader {
    top: 7vh;
    font-size: 2.5em;
    width: auto;
  }
}

/* Animation */

.scale-up-ver-bottom {
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(2);
    transform-origin: 0% 100%;
  }
}

.scale-down-ver-bottom {
  animation: scale-down-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}

@keyframes scale-down-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(2);
    transform-origin: 0% 100%;
  }
}

.fade-in {
  opacity: 1;
  transition-timing-function: ease-out;
  transform: translateY(0);
  transition: 2.2s;
}

.fade-out {
  transition-timing-function: ease-in;
  transition: 1s;
  transform: translateY(200%);
  opacity: 0;
}
