* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #150D15;
  overflow: hidden;
}

h1 {
  font-size: 10em;
  width: auto;
}

#content {
  text-align: center;
  height: 100vh;
  overflow: auto;
}

/* Home */

#homeContainer {
  display: block;
}

#bannerHeader {
  position: absolute;
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray;
  left: 0;
  right: 0;
  top: 20vh;
  text-align: center;
}


#tabsContainer {
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: fixed;
  bottom: 0vh;
}

#titleContainer {
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: absolute;
  bottom: 5vh;
}

.home {
  background-color: #f59b42;
}

.about {
  background-color: #f57e42;
}

.menu {
  background-color: #f56642;
}

.contact {
  background-color:  #f54b42;
}

.tab {
  width: 25vw;
  height: 50px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.banner {
  max-height: 95vh;
  height: 95vh;
  width: 100%;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabTitle {
  opacity: 0;
}

/* About */

#aboutContainer {
  display: none;
  color: white;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.heading {
  font-family: 'Permanent Marker', cursive;
  width: 100vw;
  background: linear-gradient(to bottom, #f59b42, #f6893d, #f7773c, #f7623e, #f54b42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-image: linear-gradient(to bottom, #f59b42, #f6893d, #f7773c, #f7623e, #f54b42);
  border-radius: 5px;
  max-width: 30vw;
  min-width: 250px;
  margin: 15px auto 55px auto;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.avatar-column {
  flex: 1;
  flex-basis: 100px;
}

.details-column {
  flex: 2;
  min-width: 200px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.aboutH2 {
  font-family: 'Permanent Marker', cursive;
}

/* Menu */

#menuContainer {
  color: white;
  flex-flow: row wrap;
  display: none;
  justify-content: center;
}

#menuHeader {
  width: 100vw;
  color: white;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(to bottom, #f59b42, #f6893d, #f7773c, #f7623e, #f54b42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#meatContainer {
  border: 1px #f59b42 solid;
}

#sidesContainer {
  border: 1px #f54b42 solid;
}

#meatItem {
  padding: 5px;
}

#sideItem {
  padding: 5px;
}

.menuItemContainer {
  width: 200px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 75px;
}

/* Contacts */

#contactContainer {
  display: none;
  color: white;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Responsive View */

@media (max-width: 1204px) {
  #contactHeader {
    font-size: 5em;
  }
}

@media (max-width: 833px) {
  #aboutHeading {
    font-size: 5em;
  }
}

@media (max-width: 800px) {
  #bannerHeader {
    width: 678px;
    top: 7vh;
  }
}

@media (max-width: 678px) {
  #bannerHeader {
    top: 7vh;
    font-size: 2.5em;
    width: auto;
  }
}

@media (max-width: 550px) {
  #menuHeader {
    font-size: 5em;
  }
}

/* Animation */

.scale-up-ver-bottom {
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(2);
    transform-origin: 0% 100%;
  }
}

.scale-down-ver-bottom {
  animation: scale-down-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) reverse both;
}

@keyframes scale-down-ver-bottom {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(2);
    transform-origin: 0% 100%;
  }
}

.fade-in {
  opacity: 1;
  transition-timing-function: ease-out;
  transform: translateY(0);
  transition: 2.2s;
}

.fade-out {
  transition-timing-function: ease-in;
  transition: 1s;
  transform: translateY(200%);
  opacity: 0;
}

.slide-in-bottom {
  animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom1 {
  animation: slide-in-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom1 {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom2 {
  animation: slide-in-bottom 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom1 {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
