body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 75px;
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-image: url('../images/etch-a-sketch.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 523.75px;
}

#grid {
  display: grid;
  height: 380px;
  width: 490px;
  background-color: rgba(205, 205, 205, 1);
  box-sizing: content-box;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.5) solid;

}

#controls {
  margin-top: 1vh;
}

#clear {
  margin: auto;
  display: block;
}

#reset-container {
  display: inline-grid;
  margin: auto;
}

#new-board {
  width: 67.9px;
  margin: auto;
  margin-top: 1vh;
}

.square {
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.animate {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 600px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
