/* body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#header {
  width: 100%;
}
.board {
  flex: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 662px;
  height: 569px;
  text-align: center;

}
.innerBoard {
  width: 495.6px;
  height: 363.3px;
  margin-top: 20%;
  margin-left: 12.6%;
  background-color: gray;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-rows:repeat(4, minmax(50px, 1fr));
  grid-gap: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.innerBoard > div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.square {
  background-color: rgba(0, 0, 0, 0);
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 75px;
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-image: url('../images/etch-a-sketch.png');
  width: 512px;
  height: 419px;
}

#grid {
  display: grid;
  height: 297px;
  width: 400px;
  background-color: rgba(205, 205, 205, 1);
  box-sizing: content-box;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.5) solid;

}

#reset-container {
  display: inline-block;
  margin: auto;
}

.square {
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.animate {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 600px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
